<?php if($threadlist) { foreach($threadlist as $_thread) { ?>
<li class="thread <?php echo $_thread['top_class'];?>" tid="<?php echo $_thread['tid'];?>">
    <div class="DiscussionListItem">
        <?php if(forum_access_mod($_thread['fid'], $gid, 'allowtop')) { ?>
        <div class="DiscussionListItem-controls itemCount1">
            <input type="checkbox" name="modtid" value="<?php echo $_thread['tid']; ?>">
        </div>
        <?php } ?>
        <div class="DiscussionListItem-content Slidable-content subject">
            <a href="<?php echo url("user-$_thread[uid]");?>" class="DiscussionListItem-author" title="">
                <img class="Avatar lazy" data-original="<?php echo $_thread['user_avatar_url'];?>">
            </a>

            <?php if($_thread['top'] || $_thread['closed']) { ?>
            <ul class="DiscussionListItem-badges badges">
                <?php if($_thread['closed'] == 1) { ?>
                <li class="item-locked">
                    <span class="Badge Badge--locked" title="帖子已关闭">
                        <i class="icon fa fa-fw fa-lock Badge-icon">
                        </i>
                    </span>
                </li><?php } ?><?php if($_thread['top'] ==3) { ?><li class="item-sticky">
                    <span class="Badge Badge--sticky" title="全站置顶">
                        <i class="icon fa fa-fw fa-thumb-tack Badge-icon">
                        </i>
                    </span>
                </li><?php } ?><?php if($_thread['top'] ==1) { ?><li class="item-sticky">
                    <span class="Badge Badge--sticky--1" title="版块置顶">
                        <i class="icon fa fa-fw fa-map-marker Badge-icon">
                        </i>
                    </span>
                </li>
                <?php } ?>
            </ul>
            <?php } ?>

            <a class="DiscussionListItem-main" href="<?php echo url("thread-$_thread[tid]");?>">
                <h3 class="DiscussionListItem-title">
                    <?php echo $_thread['subject'];?>
                </h3>
            <?php if($_thread['digest'] > 0) { ?>
                <i class="fa fa-fw fa-diamond f15 text-muted"></i>
            <?php } ?>
            <?php if($_thread['files'] > 0) { ?>
                <i class="fa fa-fw fa-paperclip f15 text-muted"></i>
            <?php } ?>
                <ul class="DiscussionListItem-info">
<?php
    $kv = kv_get('SX_tieba_conf');
    $show_enable=($kv['range']!=2)?1:0;
    $show_upimgonly=($kv['range']==1)?1:0;
    $avatar_type=$kv['method'];
    $avatar_h=$kv['avatar_height'];
    $avatar_w=$kv['avatar_width'];
    $avatar_q=$kv['avatar_quality'];
    $avatar_num=3;
    if($show_enable){
?>
<?php 
    $post = post_read($_thread['firstpid']);
    $content =($post['message']);
    $message = strip_tags($content);
    $jianjie = mb_substr($message,0,50,'utf-8');
    $pattern="/<[img|IMG].*?src=[\'|\"](.*?(?:[\.gif|\.jpg|\.png]))[\'|\"].*?[\/]?>/";
    $imgallcount=preg_match_all($pattern,$content,$match);
    $imgs=array();
    $shownum=3;
    $imgcount=0;
    //--------------------------
    // 去除小于10kB的图标文件
    for($i=0;$i<$imgallcount;$i++){
        if(!empty($match[0][$i])){
            if(strstr($match[1][$i],'http://')||strstr($match[1][$i],'https://')||strstr($match[1][$i],'ftp://')){
                //$result=array();
                //$result=myGetImageSize($match[1][$i],'fread',true);
                //if($result) $picsize=$result['size'];
                //else 
                    $picsize=10001;
            }else{
                //$picarr=filesize(APP_PATH .$match[1][$i]);
                $match[1][$i]=APP_PATH .$match[1][$i];
                $picsize = filesize($match[1][$i]);
            }
            //$picarr=array();
            //$picarr = GetImageSize($match[1][$i]);
            //$picarr=filesize($match[1][$i]);
            if($picsize>10000) {        //小于10K的忽略  
                $imgs[]=$match[1][$i];
                $imgcount=$imgcount+1;
            }
        }
    }
    //--------------------------            
    //echo $imgcount.'-';
    for($i=0;$i<$imgcount;$i++){
        if($avatar_type){       //使用GD库缩放
            $tempaddr=$imgs[$i];
            $img_thumb = strtolower(substr($tempaddr,strrpos($tempaddr,"/")+1,strrpos($tempaddr,".")+3));
            $img_thumb = 'plugin/sx_tieba/avatar/thumb_'.$img_thumb;
            if(is_file(APP_PATH.''.$img_thumb)) {       //已有缓存过的
                $imgs[$i]=$img_thumb;
            }else {
                $imgs[$i]='plugin/sx_tieba/lib/thumbs.php?filename='.$imgs[$i].'&mode='.$avatar_type.'&width='.$avatar_w.'&height='.$avatar_h.'&q='.$avatar_q;
            }
        }else {     //原始大小
            $imgs[$i]=substr($imgs[$i],strrpos($imgs[$i],APP_PATH)+strlen(APP_PATH));
            //echo '-'.$imgs[$i];
        }
        if($i>=($shownum-1))
        break;
    }
?>
<?php 
    $imgcount=$show_upimgonly?$_thread['images']:$imgcount;
    if($imgcount > 0) { ?>
    <ul class="item-pic rel clearfix">
        <?php 
        $i=0;
        foreach($imgs as $pic){
            $i++;
            if($i>($shownum))
            break;
        ?>
        <li class="fleft"><img class="lazy" <?php if($avatar_type==0) echo'height="90"'; ?> alt="<?php echo $_thread['subject']; ?>" data-original="<?php echo $pic ?>"></li>
        <?php } ?>

        <?php if($imgcount > 3) { ?>
        <span>共&nbsp;<?php echo $imgcount;?>&nbsp;张</span>
        <?php } ?>
    </ul>
<?php } ?>
<?php } ?>
                    <li class="item-tags">
                        <?php if(!$fid) { ?>
                        <span class="TagsLabel nav-<?php echo $_thread['fid']; ?>">
                            <span class="TagLabel colored">
                                <span class="TagLabel-text">
                                    <?php echo $_thread['forumname'];?>
                                </span>
                            </span><?php if(!empty($_thread['taglist'])) { foreach($_thread['taglist'] as $tag) { ?><span class="TagLabel colored tag-id"><?php echo $tag['name'];?></span>
                            <?php  }} ?>
                        </span>
                        <?php } ?>
                    </li>
                    <li class="item-terminalPost">
                        <span>
                            <?php if($_thread['posts'] == 0) { ?>
                            <span class="username">
                                <?php echo $_thread['username'];?>
                            </span>
                            <span class="time">
                                <?php echo $_thread['create_date_fmt'];?>
                            </span>
                            <?php } else { ?>
                            <i class="icon fa fa-fw fa-reply ">
                            </i>
                            <span class="username">
                                <?php echo $_thread['lastusername'];?>
                            </span>
                            <span class="time">
                                <?php echo $_thread['last_date_fmt']; ?>
                            </span>
                            <?php } ?>
                        </span>
                    </li>
                </ul>
            </a>
            <span class="DiscussionListItem-count" title="">
                <?php echo $_thread['posts'];?>
            </span>
        </div>
    </div>
</li>
<?php }} ?>
<!-- {hook thread_list_inc_start.htm} -->